*{
  font-family: "Roboto" , sans-serif;
}

body{
  background-color: white;
}

.form { 
  border: 1px solid black;
  border-radius: 3%;
  background: white;
  width: 100%;
}

.section1 , .section2, .section3{
  background-color: #BBDEFB;
  margin: auto;
  border-radius: 3%;
  padding-bottom: 20px;
  width: 80%;
} 

.section1:hover, .section2:hover,.section3:hover {
  background-color: #2196F3;
  animation-name: IncreaseWidthAndColorSection;
  animation-duration: 1s;
  width: 88%;
}


#button {
  margin: 2% 40% ;
  padding: 15px 150px;
  background: #64B5F6;
  color: #FFF;
  font-weight: 700;
  width: 20%;
}
#button1{
  position: relative;
  left: 660px;
  padding: 15px 135px;
  background: #1abc9c;
  color: #FFF;
  font-weight: 700;
}

#button:hover , button:active , #button1:hover , #button1:active {
  animation-name: IncreaseWidthAndColorButton;
  animation-duration: 1s;
}

.formElement {
  width: 50%;
  margin: 3% 25%;
  padding: 10px 0;
}

.formElement input,select{
  width: 100%;
  
}

h3{
  text-align: center;
}

.personalDetails{
  background-color: #EDF2F4;
  margin: 40px 100px 60px 100px;
  border-radius: 10px;
  padding: 15px 0 80px 0;
  
}

#userDetailsTable {
  margin: 40px 30px;
  border: 1px solid black;
  border-collapse: collapse;
  background: #f4f7f8;
}

#gridOfThree{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1{
  text-align: center;
}

td,
th {
  border: 1px solid black;
  padding: 5px 38px;
}

th{
  background-color:#17C3B2 ;
}

.form .heading2 {
  border: 1px solid black;
  border-radius: 3px;
  background: #BBDEFB;
  text-align: center;
  padding: 15px;
  margin: 2% 10%;
  
}
.heading2 {
  border: 1px solid black;
  border-radius: 3px;
  background: #BBDEFB;
  text-align: center;
  padding: 15px;
  margin: 50px 200px;
  
}

.gender{
  display: flex;
  margin: 0px 10px;
}

#flexGenderInputField{
  display: flex;
  margin: 6% 0%;
}

#submitSuccessful{
  display: none; 
  color: green;
  margin-bottom: 20px;
}

/* Sorting */

.sortOption{
  list-style-type: none;
  display: none;
}

#sortingOptions{
  margin: 30px 40% ;
  padding: 5px 100px;
  background: #1abc9c;
  color: #FFF;
  font-weight: 700;
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
}

#sortingOptions:hover{
  margin: 30px 20%;
  padding: 10px 200px;
  color: black;
}

#sortingOptions:hover > .sortOption{
  display: flex;
  list-style-type: none; 
  margin: 12px 20px;
}

.filterBy{
  border: 1px black solid;
}

.sortButton{
  background-color: #109177;
  margin: 2px 10px;
}


/* Animations */
@keyframes IncreaseWidthAndColorSection{
  from{width: 80%;}
  to{width: 88%;}
  from{background-color: #64B5F6;}
  to{background-color: #2196F3;}
}

@keyframes IncreaseWidthAndColorButton{
  
  from{background-color: #64B5F6;}
  to{background-color: #2196F3;}
}