* {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #a2d2ff;
}

#div1,
#div2 {
  background: #a2d2ff;
  background-attachment: fixed;
  padding: 3%;
  height: 820px;
}

.flexbox {
  display: flex;
  width: 100%;
  margin-left: 30%;
}

.formElement {
  background: white;
  border: 0 none;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 3% 4%;
  box-sizing: border-box;
  width: 80%;
  margin: 1% 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

.formElement label {
  font-weight: 700;
}

.formElement input,
select {
  padding: 2%;
  border: 1px solid #ccc;
  margin: 1% 0%;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}

.formElement input:focus,
.formElement textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #237fd5;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

.gender {
  display: flex;
  margin: 0px 10px;
}

#flexGenderInputField {
  display: flex;
  margin: 6% 0%;
}

/* Success Message */

#submitSuccessful {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  display: block;
  color: black;
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid black;
  width: 25%;
  margin: auto;
  margin-bottom: 2%;
  padding: 2%;
  border-radius: 3%;
  animation-name: SuccessfulMessage;
  animation-duration: 2s;
  box-shadow: 8px 8px;
}

.successBtn {
  width: 35%;
  background: #237fd5;
  font-weight: 700;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 2% 5%;
  margin: 5% 4%;
}

#viewUserLink {
  width: 30%;
  background: #237fd5;
  font-weight: 700;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 2% 4%;
  margin: 5% 4%;
  text-decoration: none;
  text-transform: initial;
}

/* User List Grid */

#userListGrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 7vw) 10vw 3vw repeat(3, 5vw) 10vw repeat(3, 7vw) 12vw;
  grid-template-rows: repeat(autofill, 1fr);
  gap: 0%;
}

.userListDiv {
  background-color: #237fd5;
  border: 2px solid black;
  width: 100%;
  height: 100%;
}

.userListHead {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  cursor: context-menu;
  /* color: white; */
  overflow: scroll;
  scrollbar-width: none;
}

.userListData {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: scroll;
  scrollbar-width: none;
  margin: 0;
}

#userListGridData {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 7vw) 10vw 3vw repeat(3, 5vw) 10vw repeat(3, 7vw) 12vw;
  grid-template-rows: repeat(autofill, 1fr);
  background-color: white;
  margin: 0;
}

.crudButtonRemove,
.crudButtonUpdate {
  background-color: #237fd5;
  color: white;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid black;
  padding: 8%;
  margin: 4%;
}

/* Section */

#section1,
#section2,
#section3 {
  /* display: block; */
  background-color: white;
  margin: auto;
  border-radius: 3%;
  padding: 2% 0;
  width: 43%;
  margin-bottom: 3%;
  border: 1px black solid;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.formElement:hover {
  animation-name: IncreasePaddingOfFormElementSection;
  animation-duration: 1s;
}

/*  Buttons */

#button {
  margin: 2% 40%;
  padding: 15px 150px;
  background: #64b5f6;
  color: #fff;
  font-weight: 700;
  width: 20%;
}

#button:hover,
#button:active {
  animation-name: IncreaseWidthAndColorButton;
  animation-duration: 1s;
}

#button-next {
  width: 30%;
  position: relative;
  left: 35%;
  background: #237fd5;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 2% 3%;
  /* margin: 5% 40%; */
  margin-top: 5%;
}

#button-next2 {
  width: 20%;
  background: #237fd5;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 2% 0%;
  margin: 4% 0.2%;
  text-align: center;
}

#submit {
  width: 20%;
  background: #237fd5;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 2% 0%;
  margin: 4% 0.2%;
  text-align: center;
}

#button-previous2 {
  width: 20%;
  background: #237fd5;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 2% 0%;
  margin: 4% 0.2%;
}

/* Headings */

.heading2 {
  border: 4px solid black;
  border-radius: 3px;
  background: #f1faee;
  text-align: center;
  padding: 15px;
  margin: 2% 10%;
}

.sectionHead {
  font-size: 18px;
  text-transform: uppercase;
  background-color: white;
  color: #2c3e50;
  padding: 2% 0%;
  margin: 5% 10%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  border: 1px black solid;
}

.sectionfilter {
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  text-transform: uppercase;
  color: #2c3e50;
  padding: 2% 0%;
  margin: 5% 20%;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  border: 1px black solid;
}

/* Error Message */

#errorfirstName,
#errorlastName,
#errorphoneNumber,
#erroremail,
#errorage,
#erroraddress,
#errorcity,
#errorstate,
#errorcountry,
#errorPhoneNumber,
#errorEmail,
#errorAge {
  display: block;
  color: red;
}

#AllFieldsErrorMessage {
  color: red;
  text-align: center;
  font-weight: 700;
}

/* Images */

#deleteBinImage {
  height: 5px;
  width: 5px;
}

/* Deletion and Updation */

.confirm-deletion {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  display: block;
  color: black;
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid black;
  width: 25%;
  margin: 2vw 33vw;
  padding: 2%;
  border-radius: 3%;
  animation-name: SuccessfulMessage;
  animation-duration: 2s;
  box-shadow: 8px 8px;
  position: relative;
  top: 2vw;
}

/* Animations */
@keyframes IncreaseWidthAndColorSection {
  from {
    width: 40%;
  }

  to {
    width: 43%;
  }
}

@keyframes IncreaseWidthAndColorButton {
  from {
    background-color: #64b5f6;
  }

  to {
    background-color: #2196f3;
  }
}

@keyframes IncreaseFilterButtonMargin {
  from {
    margin: 0% 0%;
  }

  to {
    margin: 4% 0%;
  }
}

@keyframes SuccessfulMessage {
  from {
    width: 20%;
  }

  to {
    width: 25%;
  }
}

@keyframes IncreasePaddingOfFormElementSection {
  from {
    padding: 3% 4%;
  }

  to {
    padding: 5% 5%;
  }
}

/* Media queries */

@media (max-width: 450px) {
  body {
    background: #a2d2ff;
  }

  .div1 {
    padding: 3%;
    width: 80vw;
  }

  #section1,
  #section2,
  #section3 {
    margin: 5% 0%;
    width: 100%;
    padding: 0% 0%;
  }

  /* #section2,
  #section3 {
    display: none;
  } */

  .sectionHead {
    padding: 5% 0%;
    margin: 15% 10%;
  }

  .formElement {
    padding: 3% 4%;
    width: 80%;
    margin: 7% 10%;
  }

  .formElement input,
  select {
    padding: 5%;
    margin: 1% 0%;
    width: 100%;
  }

  #button-next {
    width: 30%;
    position: relative;
    left: 35%;
    padding: 5% 7%;
    margin: 10% 0%;
  }

  #button-next2 {
    width: 30%;
    padding: 5% 5%;
    margin: 4% 1%;
  }

  #button-previous2 {
    width: 30%;
    padding: 2% 0%;
    margin: 4% 0.2%;
  }

  .flexbox {
    margin: 12% 20%;
  }

  #submit {
    width: 30%;
    padding: 5% 0%;
    margin: 4% 0.2%;
  }

  #submitSuccessful {
    width: 80%;
    margin: 80% 8%;
    padding: 10% 2%;
    border-radius: 3%;
    animation: none;
    box-shadow: 0px 0px;
  }

  #successBtn {
    width: 50%;
    padding: 5% 3%;
    margin: 5% 4%;
    font-weight: 700;
  }

  #viewUserLink {
    width: 30%;
    padding: 4% 6%;
    margin: 5% 4%;
  }

  #userListGrid {
    grid-template-columns: repeat(3, 1fr) 1.5fr .05fr repeat(3, 0.75fr) 1.5fr repeat(3, 1fr) 2fr;
    display: grid;
    width: 100%;
    overflow: scroll;
  }

  #userListGridData {
    grid-template-columns: repeat(3, 1fr) 1.5fr .05fr repeat(3, 0.75fr) 1.5fr repeat(3, 1fr) 2fr;
    overflow: scroll;
  }

  #sectionfilter {
    padding: 2% 0%;
    margin: 5% 20%;
    width: 70%;
  }
}

